<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> nav}}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Requirements</li>
      </ol>
    </nav>
    <ul class="list-group">
        {{#each items}}
            <li class="list-group-item"><a href="requirements/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</body>
</html>
