<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/states">States</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/requirements">Requirements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/students">Students</a>
  </li>
</ul>
