<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> nav}}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/{{type}}">{{display}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#create">Create</a>
      </li>
    </ul>
</body>
</html>
