<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> nav}}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <a href="states"><h1 class="display-4">States</h1></a>
        <p class="lead">States that have been registered in the system</p>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <a href="requirements"><h1 class="display-4">Requirements</h1></a>
        <p class="lead">Requirements that have been registered in the system</p>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <a href="students"><h1 class="display-4">Students</h1></a>
        <p class="lead">Students that have been registered in the system</p>
      </div>
    </div>
</body>
</html>
