<!DOCTYPE html>
<html>
{{> head}}
<body>
    <h1>Requirements By State</h1>
    <h2>Where? What? Who?</h2>
    <ul>
        <li><a href="states">States</a></li>
        <li><a href="requirements">Requirements</a></li>
        <li><a href="students">Students</a></li>
    </ul>
</body>
</html>
