<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> nav}}
    <ul>
        <li><a href="states">States</a></li>
        <li><a href="requirements">Requirements</a></li>
        <li><a href="students">Students</a></li>
    </ul>
</body>
</html>
