<!--
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files.
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welp</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
    <input type="text" onkeyup="this.value = this.value.toUpperCase();">
    <input type="text" onkeyup="
      var start = this.selectionStart;
      var end = this.selectionEnd;
      this.value = this.value.toUpperCase();
      this.setSelectionRange(start, end);

</head>
<body>
    <!--
      This is a place holder for the contents of the .hbs file that is
      rendered.
    -->
    {{{body}}}

</body>
</html>
