<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> nav}}
    <h3>Students</h3>
    <ul>
    {{#each items}}
        <li><a href="students/{{id}}">{{name}}</a></li>
    {{/each}}
    </ul>
</body>
</html>
