<!DOCTYPE html>
<html>
{{> head}}
<body>
    <h1><a href="/">Requirements By State</a></h1>
    <h2>Students</h2>
    <ul>
    {{#each items}}
        <li><a href="students/{{id}}">{{name}}</a></li>
    {{/each}}
    </ul>
</body>
</html>
