<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> nav}}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/students">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#update">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#delete">Delete</a>
      </li>
    </ul>
    <ul>
    {{#each requirements}}
        <li><a href="requirements/{{id}}">{{name}}</a></li>
    {{/each}}
    </ul>
    <h3>Students</h3>
    {{#each students}}
        <li><a href="students/{{id}}">{{name}}</a></li>
    {{/each}}
</body>
</html>
