<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> nav}}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/states">States</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create/states">Create</a>
      </li>
    </ul>
    <ul class="list-group">
        {{#each items}}
            <li class="list-group-item"><a href="state/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</body>
</html>
