<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>State Requirements</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Requirements By State</h1>
    <h2>States</h2>
    <ul>
    {{#each states}}
        <li><a href="state/{{id}}">{{name}}</a></li>
    {{/each}}
    </ul>
</body>
</html>
